/* Mobile & Table */
@media (max-width: 1023px) {}

/* Table */
@media (min-width: 740px) and (max-width: 1023px) {}

/* Table Lanscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* Mobile */

@media (max-width: 739px) {
    /* body{
        font-size: 50%;
    } */
    .header-mb{
        display: flex;
        justify-content: space-between;
        padding:5px 15px;
        align-items: center;
    }
    .menu-mobile
    {
        color: #00803D;
   
    }
    .menu-mobile i{
        font-size: 3rem;
    }
    .homeevent-wrapper .grid-container
    {
        grid-template-columns: auto;
        grid-template-columns: auto;
        grid-gap:1rem;
    }
    .homescholarship-wrapper .cell-1-2:nth-child(3) .desc, .homescholarship-wrapper .cell-1-2:nth-child(4) .desc {
        top: 1rem;
    }
    .top-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
    }
    .title-image {
        max-width: 25rem;
        padding: 0px 0px;
    }
    .header-mb img {
        max-width: 175px;
        object-fit: cover;
    }
    .slidehome h2
    {
        font-size: 2rem;
    }
   
    .sendmail__frm input {
        background-color: #ffffff;
        text-align: center;
        width: 55%;
        float: left;
        margin-bottom: 1.5rem;
    }
    .sendmail__btn {
        float: left;
        width: 40%;
        max-width: 120px;
        padding: 0px 5px;
    }
    .footer-copyright{
        width: 100%;
        color: #FFF;
        border-top: 1px solid #f0f0f0;
        padding-top: 10px;
    }
    .banner img {
        height: auto;
        max-height: 100vh;
        width: 100%;
        min-height: 50vh;
        object-fit: cover;
    }
    .slider__controls {
    
        bottom: 1rem;
    }
  
    
    .footer {
        padding:0;
    }
    
    .fancybox-button.fancybox-close-small {
        top: -0.5rem !important;
        right: -0.5rem !important;
        border: 0.2rem solid #0e0e0e;
        color: #000 !important;
        border-radius: 50%;
        /* width: 3rem; */
        /* height: 3rem; */
    }
    .menutab .menutab-item
    {
        width: auto;
    min-width: 60%;
    
    }
    .menutab {
        display: inline-flex;
        overflow: scroll;
        flex-wrap: nowrap;
        padding-bottom: 10px;
    }
    
}

/* Ipad pro */


@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    /* .homenews-wrapper .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 30px;
    } */
}


/* PC LARGE */

@media (min-width: 1919px) {
    .grid {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
}